/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&family=Exo:ital,wght@0,400;0,700;1,500&family=Lobster+Two&display=swap");

/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: #d2e6ef;
  font-family: "Catamaran", sans-serif;
}

:focus {
  outline-color: #4a9cbf;
}

section {
  min-height: 100vh;
}

section * {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

svg {
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  margin: 0.5em 0;
  text-align: center;
}

h2 {
  font-size: 1.45rem;
}

.btn {
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  line-height: 2.25;
  width: 100%;
}

fieldset {
  border: none;
  margin-left: 0;
  margin-top: 0.5em;
  padding: 0;
}

/* Landing section */
#landing-page {
  text-align: center;
}

h1 {
  font-family: "Lobster Two", sans-serif;
  font-size: 3rem;
  margin: auto 0;
}

#landing-page .btn {
  width: 100%;
}

#landing-page dialog {
  height: 75%;
  text-align: left;
}

#landing-page dialog h3 {
  font-size: 1rem;
  margin-top: 2em;
}

#landing-page dialog form {
  height: 90%;
}

#landing-page dialog textarea {
  font-family: "Catamaran", sans-serif;
  width: 100%;
  height: 75%;
}

#landing-page dialog .close {
  width: initial;
  border: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/* Your details section */
#details-form fieldset label {
  display: inline;
  margin-right: 1em;
}

.three-fields {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.three-fields .field-container {
  width: 30%;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.form-buttons .btn {
  width: 48%;
}

/* Your activity levels section */
.walking-level-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}

.walking-level-cards label {
  width: 70%;
  border-radius: 5%;
  position: relative;
}

.walking-level-cards label svg {
  width: 50%;
  border: 2px solid black;
  border-radius: 50%;
}

.walking-level-cards label input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#activity-level-form
  .walking-level-cards
  label:has(input[type="radio"]:checked) {
  border: 0.25em solid #4a9cbf;
}

#activity-level-form .walking-level-cards label p {
  margin-top: 0;
}
